// Babel configuration file

{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root":"./",
          "@pages": "./src/pages",
          "@components": "./src/components",
          "@styles": "./styles/",
          "@public": "./public/",
          "@tests": "./test"
        }
      }
    ],
    ["styled-components", { "ssr": true }]
  ]
}
